Repository buildkite/terraform-buildkite-elastic-ci-stack-for-gcp: changes, and which Buildkite steps are due for each by the changed paths.
All: :terraform: Format Check, :terraform: Validate Modules, :lint-roller: TFLint, :shield: TFSec Security Scan, :packer: Format Check, :packer: Validate, :terraform: Validate Examples, :markdown: Markdown Lint

:terraform: Format Check:
  key: terraform-fmt
  command: .buildkite/scripts/format_check
  plugins:
  - docker#v5.13.0:
      image: hashicorp/terraform:1.13
      workdir: /workdir
      entrypoint: /bin/sh

:terraform: Validate Modules:
  key: terraform-validate-modules
  command: .buildkite/scripts/validate
  plugins:
  - docker#v5.13.0:
      image: hashicorp/terraform:1.13
      workdir: /workdir
      entrypoint: /bin/sh

:lint-roller: TFLint:
  key: tflint
  command: .buildkite/scripts/tflint
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/terraform-linters/tflint:v0.59.1
      workdir: /workdir
      entrypoint: /bin/sh

:shield: TFSec Security Scan:
  key: tfsec
  command: .buildkite/scripts/tfsec
  plugins:
  - docker#v5.13.0:
      image: aquasec/tfsec:v1.28
      workdir: /workdir
      entrypoint: /bin/sh

:packer: Format Check:
  key: packer-fmt
  command: .buildkite/scripts/format_packer
  plugins:
  - docker#v5.13.0:
      image: hashicorp/packer:1.11
      workdir: /workdir
      entrypoint: /bin/sh

:packer: Validate:
  key: packer-validate
  command: .buildkite/scripts/validate_packer
  plugins:
  - docker#v5.13.0:
      image: hashicorp/packer:1.11
      workdir: /workdir
      entrypoint: /bin/sh

:terraform: Validate Examples:
  key: terraform-validate-examples
  command: .buildkite/scripts/validate_examples
  plugins:
  - docker#v5.13.0:
      image: hashicorp/terraform:1.13
      workdir: /workdir
      entrypoint: /bin/sh

:markdown: Markdown Lint:
  key: markdownlint
  plugins:
  - docker#v5.13.0:
      image: davidanson/markdownlint-cli2:v0.18.1
      workdir: /workdir
      command:
      - .
      - --config
      - .markdownlint.json

Make bootstrap failure cleanup job-safe
  docs/instance-updates.md
  packer/linux/conf/buildkite-agent/scripts/terminate-instance-after-bootstrap-failure
  templates/scripts/bootstrap-buildkite-agent
  tests/bootstrap-buildkite-agent-test
  tests/terminate-instance-bootstrap-failure-test
Due: none

Activate job-safe scale-in (#58)
  .buildkite/build-agent-image.yml
  README.md
  docs/instance-updates.md
  examples/compute/main.tf
  examples/compute/terraform.tfvars.example
  examples/compute/variables.tf
  goss.yaml
  main.tf
  modules/compute/main.tf
  modules/compute/templates/startup.sh.tftpl
  modules/compute/tests/update_policy.tftest.hcl
  modules/compute/variables.tf
  modules/compute/versions.tf
  modules/iam/main.tf
  modules/iam/tests/agent_instance_management.tftest.hcl
  packer/linux/conf/buildkite-agent/scripts/stop-agent-gracefully
  packer/linux/conf/buildkite-agent/scripts/terminate-instance
  packer/linux/conf/buildkite-agent/scripts/terminate-instance-after-agent-exit
  packer/linux/conf/buildkite-agent/scripts/terminate-instance-after-bootstrap-failure
  packer/linux/conf/buildkite-agent/systemd/termination.conf
  packer/linux/scripts/install-buildkite-agent
  templates/config/startup-buildkite-agent.cfg.template
  templates/config/terraform-buildkite-agent-env.template
  templates/config/terraform-buildkite-agent.cfg.template
  templates/scripts/bootstrap-buildkite-agent
  tests/bootstrap-buildkite-agent-test
  tests/startup-buildkite-agent-test
  tests/stop-agent-gracefully-test
  tests/systemd-termination-semantics-test
  tests/terminate-instance-bootstrap-failure-test
  tests/terminate-instance-lifecycle-test
  variables.tf
  versions.tf
Due: :terraform: Format Check, :terraform: Validate Modules, :lint-roller: TFLint, :shield: TFSec Security Scan, :markdown: Markdown Lint

Install pinned Buildkite Agent v4 from the stable channel
  goss.yaml
  packer/build
  packer/linux/scripts/install-buildkite-agent
Due: none

Replace removed v3 agent settings with v4 cancellation timeouts
  templates/config/buildkite-agent.cfg.template
Due: none

Add Spot VM, external IP and optional Cloud NAT inputs
  main.tf
  modules/compute/main.tf
  modules/compute/tests/provisioning.tftest.hcl
  modules/compute/variables.tf
  modules/networking/main.tf
  modules/networking/outputs.tf
  modules/networking/tests/nat.tftest.hcl
  modules/networking/variables.tf
  variables.tf
Due: :terraform: Format Check, :terraform: Validate Modules, :lint-roller: TFLint, :shield: TFSec Security Scan

Remove unused buildkite_agent_release variable
  examples/compute/main.tf
  examples/compute/terraform.tfvars.example
  examples/compute/variables.tf
  main.tf
  modules/compute/variables.tf
  variables.tf
Due: :terraform: Format Check, :terraform: Validate Modules, :lint-roller: TFLint, :shield: TFSec Security Scan

Add v1 upgrade guide
  README.md
  docs/upgrading-to-v1.md
Due: :markdown: Markdown Lint

Path conditions:
  :terraform: Format Check: any of: *.tf
  :terraform: Validate Modules: any of: *.tf, *.tfvars
  :lint-roller: TFLint: any of: *.tf
  :shield: TFSec Security Scan: any of: *.tf
  :packer: Format Check: any of: packer/linux/buildkite-vm-image.pkr.hcl
  :packer: Validate: any of: packer/linux/buildkite-vm-image.pkr.hcl
  :terraform: Validate Examples: any of: examples/*
  :markdown: Markdown Lint: any of: *.md
