Repository buildkite/terraform-buildkite-elastic-ci-stack-for-gcp: changes, and which Buildkite steps are due for each by the changed paths.
All: :terraform: Format Check, :terraform: Validate Modules, :lint-roller: TFLint, :shield: TFSec Security Scan, :packer: Format Check, :packer: Validate, :terraform: Validate Examples, :markdown: Markdown Lint

:terraform: Format Check:
  key: terraform-fmt
  command: .buildkite/scripts/format_check
  plugins:
  - docker#v5.11.0:
      image: hashicorp/terraform:1.13
      workdir: /workdir
      entrypoint: /bin/sh

:terraform: Validate Modules:
  key: terraform-validate-modules
  command: .buildkite/scripts/validate
  plugins:
  - docker#v5.11.0:
      image: hashicorp/terraform:1.13
      workdir: /workdir
      entrypoint: /bin/sh

:lint-roller: TFLint:
  key: tflint
  command: .buildkite/scripts/tflint
  plugins:
  - docker#v5.11.0:
      image: ghcr.io/terraform-linters/tflint:latest
      workdir: /workdir
      entrypoint: /bin/sh

:shield: TFSec Security Scan:
  key: tfsec
  command: .buildkite/scripts/tfsec
  plugins:
  - docker#v5.11.0:
      image: aquasec/tfsec:latest
      workdir: /workdir
      entrypoint: /bin/sh

:packer: Format Check:
  key: packer-fmt
  command: .buildkite/scripts/packer_format
  plugins:
  - docker#v5.11.0:
      image: hashicorp/packer:1.11
      workdir: /workdir
      entrypoint: /bin/sh

:packer: Validate:
  key: packer-validate
  soft_fail: true
  command: '.buildkite/scripts/packer_validate
  
    echo "‚ö†Ô∏è This soft fails due to strict arch naming rules."
  
    '
  plugins:
  - docker#v5.11.0:
      image: hashicorp/packer:1.11
      workdir: /workdir
      entrypoint: /bin/sh

:terraform: Validate Examples:
  key: terraform-validate-examples
  command: .buildkite/scripts/validate_examples
  plugins:
  - docker#v5.11.0:
      image: hashicorp/terraform:1.13
      workdir: /workdir
      entrypoint: /bin/sh

:markdown: Markdown Lint:
  key: markdownlint
  plugins:
  - docker#v5.11.0:
      image: davidanson/markdownlint-cli2:latest
      workdir: /workdir
      entrypoint: /bin/sh

fix: use variables for consistent naming
  modules/compute/README.md
  modules/networking/README.md
Due: none

fix: naming so tf reg picks it up
  CONTRIBUTING.md
  README.md
Due: :markdown: Markdown Lint

chore: improve regex matching
  renovate.json
Due: none

chore: improve regex matching (#18)
  renovate.json
Due: none

Always grant storage viewer permission for the SA to be able to read from the cloud function bucket.
  modules/buildkite-agent-metrics/README.md
  modules/buildkite-agent-metrics/main.tf
Due: none

chore: registry source
  README.md
Due: :markdown: Markdown Lint

chore: module name
  README.md
Due: :markdown: Markdown Lint

chore: registry source (#23)
  README.md
Due: :markdown: Markdown Lint

Fix agent startup script not applying queue and endpoint config correctly
  modules/compute/templates/startup.sh
Due: none

Always grant storage viewer permission for the SA to be able to read from the cloud function bucket. (#19)
  modules/buildkite-agent-metrics/README.md
  modules/buildkite-agent-metrics/main.tf
Due: none

Fix agent startup script not applying queue and endpoint config correctly (#24)
  modules/compute/templates/startup.sh
Due: none

CI to build public GCP agent image
  .buildkite/build-agent-image.yml
  .buildkite/scripts/build-and-publish-image.sh
Due: none

Whitespace what
  .buildkite/build-agent-image.yml
Due: none

Use a plugin version that actually exists
  .buildkite/build-agent-image.yml
Due: none

Make the build script work on macOS
  .buildkite/scripts/build-and-publish-image.sh
Due: none

chore: use matrix for building
  .buildkite/build-agent-image.yml
  .buildkite/scripts/build-and-publish-image
Due: none

fix: add v for version
  .buildkite/build-agent-image.yml
Due: none

chore: set entrypoint on packer image to test
  .buildkite/build-agent-image.yml
Due: none

fix: support multiple stacks in same project
  main.tf
  variables.tf
Due: :terraform: Format Check, :terraform: Validate Modules, :lint-roller: TFLint, :shield: TFSec Security Scan

fix: support multiple stacks in same project (#25)
  main.tf
  variables.tf
Due: :terraform: Format Check, :terraform: Validate Modules, :lint-roller: TFLint, :shield: TFSec Security Scan

chore: use plugin command array
  .buildkite/build-agent-image.yml
Due: none

chore: empty entrypoint
  .buildkite/build-agent-image.yml
Due: none

fix: correct arch
  .buildkite/build-agent-image.yml
Due: none

chore: dockerise it all
  .buildkite/Dockerfile
  .buildkite/build-agent-image.yml
  .buildkite/docker-compose.yml
Due: none

chore: blank entry
  .buildkite/Dockerfile
Due: none

pass gcp creds
  .buildkite/build-agent-image.yml
  .buildkite/docker-compose.yml
Due: none

chore: mount gcloud config and check for env
  .buildkite/docker-compose.yml
  packer/build
Due: none

Defensive handling of role names when stack name has banned characters
  main.tf
Due: :terraform: Format Check, :terraform: Validate Modules, :lint-roller: TFLint, :shield: TFSec Security Scan

Dependency fixes
  main.tf
  modules/buildkite-agent-metrics/main.tf
  modules/buildkite-agent-metrics/outputs.tf
  modules/compute/main.tf
  modules/compute/variables.tf
Due: :terraform: Format Check, :terraform: Validate Modules, :lint-roller: TFLint, :shield: TFSec Security Scan

Defensive handling of role names when stack name has banned characters (#26)
  main.tf
Due: :terraform: Format Check, :terraform: Validate Modules, :lint-roller: TFLint, :shield: TFSec Security Scan

Update modules/buildkite-agent-metrics/main.tf
  modules/buildkite-agent-metrics/main.tf
Due: none

Add buildkite_organization_slug var to be used for verifying that the cloud function is working correctly.
  examples/buildkite-agent-metrics/main.tf
  examples/buildkite-agent-metrics/variables.tf
  main.tf
  modules/buildkite-agent-metrics/variables.tf
Due: :terraform: Format Check, :terraform: Validate Modules, :lint-roller: TFLint, :shield: TFSec Security Scan

Format - le sigh
  examples/buildkite-agent-metrics/main.tf
Due: none

Dependency fixes (#27)
  examples/buildkite-agent-metrics/main.tf
  examples/buildkite-agent-metrics/variables.tf
  main.tf
  modules/buildkite-agent-metrics/main.tf
  modules/buildkite-agent-metrics/outputs.tf
  modules/buildkite-agent-metrics/variables.tf
  modules/compute/main.tf
  modules/compute/variables.tf
Due: :terraform: Format Check, :terraform: Validate Modules, :lint-roller: TFLint, :shield: TFSec Security Scan

feat: use a buildkite built default image
  modules/compute/variables.tf
  renovate.json
Due: none

feat: use a buildkite built default image (#29)
  modules/compute/variables.tf
  renovate.json
Due: none

chore: update agent image built
  modules/compute/variables.tf
Due: none

chore: update agent image built (#30)
  modules/compute/variables.tf
Due: none

fix: root image update
  variables.tf
Due: :terraform: Format Check, :terraform: Validate Modules, :lint-roller: TFLint, :shield: TFSec Security Scan

Path conditions:
  :terraform: Format Check: any of: *.tf
  :terraform: Validate Modules: any of: *.tf, *.tfvars
  :lint-roller: TFLint: any of: *.tf
  :shield: TFSec Security Scan: any of: *.tf
  :packer: Format Check: any of: packer/linux/buildkite-vm-image.pkr.hcl
  :packer: Validate: any of: packer/linux/
  :terraform: Validate Examples: any of: examples/*
  :markdown: Markdown Lint: any of: *.md
