Repository buildkite/terraform-buildkite-elastic-ci-stack-for-gcp: changes, and which Buildkite steps are due for each by the changed paths.
All: :terraform: Format Check, :terraform: Validate Modules, :lint-roller: TFLint, :shield: TFSec Security Scan, :packer: Format Check, :packer: Validate, :terraform: Validate Examples, :markdown: Markdown Lint

:terraform: Format Check:
  key: terraform-fmt
  command: .buildkite/scripts/format_check
  plugins:
  - docker#v5.13.0:
      image: hashicorp/terraform:1.13
      workdir: /workdir
      entrypoint: /bin/sh

:terraform: Validate Modules:
  key: terraform-validate-modules
  command: .buildkite/scripts/validate
  plugins:
  - docker#v5.13.0:
      image: hashicorp/terraform:1.13
      workdir: /workdir
      entrypoint: /bin/sh

:lint-roller: TFLint:
  key: tflint
  command: .buildkite/scripts/tflint
  plugins:
  - docker#v5.13.0:
      image: ghcr.io/terraform-linters/tflint:v0.59.1
      workdir: /workdir
      entrypoint: /bin/sh

:shield: TFSec Security Scan:
  key: tfsec
  command: .buildkite/scripts/tfsec
  plugins:
  - docker#v5.13.0:
      image: aquasec/tfsec:v1.28
      workdir: /workdir
      entrypoint: /bin/sh

:packer: Format Check:
  key: packer-fmt
  command: .buildkite/scripts/format_packer
  plugins:
  - docker#v5.13.0:
      image: hashicorp/packer:1.11
      workdir: /workdir
      entrypoint: /bin/sh

:packer: Validate:
  key: packer-validate
  command: .buildkite/scripts/validate_packer
  plugins:
  - docker#v5.13.0:
      image: hashicorp/packer:1.11
      workdir: /workdir
      entrypoint: /bin/sh

:terraform: Validate Examples:
  key: terraform-validate-examples
  command: .buildkite/scripts/validate_examples
  plugins:
  - docker#v5.13.0:
      image: hashicorp/terraform:1.13
      workdir: /workdir
      entrypoint: /bin/sh

:markdown: Markdown Lint:
  key: markdownlint
  plugins:
  - docker#v5.13.0:
      image: davidanson/markdownlint-cli2:v0.18.1
      workdir: /workdir
      command:
      - .
      - --config
      - .markdownlint.json

Restore agent installation changes lost during rebase
  packer/linux/scripts/install-buildkite-agent
Due: none

Matrix vars don't expand in labels apparently
  .buildkite/build-agent-image.yml
Due: none

Revert "Matrix vars don't expand in labels apparently"
  .buildkite/build-agent-image.yml
Due: none

Build public GCP image (#36)
  .buildkite/Dockerfile
  .buildkite/build-agent-image.yml
  .buildkite/docker-compose.yml
  .buildkite/scripts/build-and-publish-image
  .gitignore
  examples/compute/variables.tf
  modules/compute/main.tf
  modules/compute/templates/startup.sh
  modules/compute/variables.tf
  packer/bootstrap
  packer/build
  packer/linux/buildkite-vm-image.pkr.hcl
  packer/linux/conf/buildkite-agent/systemd/buildkite-agent.service
  packer/linux/scripts/install-buildkite-agent
  templates/config/buildkite-agent-env.template
  templates/config/buildkite-agent.cfg.template
  templates/scripts/bootstrap-buildkite-agent
  variables.tf
Due: :terraform: Format Check, :terraform: Validate Modules, :lint-roller: TFLint, :shield: TFSec Security Scan, :packer: Format Check, :packer: Validate

Change the autoscaler to follow the UnfinishedJobsCount metric.
  modules/compute/main.tf
Due: none

Change the autoscaler to follow the UnfinishedJobsCount metric. (#37)
  modules/compute/main.tf
Due: none

Wait for IAM permissions to be applied before trying to create cloud function
  main.tf
Due: :terraform: Format Check, :terraform: Validate Modules, :lint-roller: TFLint, :shield: TFSec Security Scan

Use a working method to check for presence of metrics before configuring ASG
  modules/buildkite-agent-metrics/main.tf
Due: none

Fixups (#38)
  main.tf
  modules/buildkite-agent-metrics/main.tf
Due: :terraform: Format Check, :terraform: Validate Modules, :lint-roller: TFLint, :shield: TFSec Security Scan

docs: clean up docs and point to official pages
  DOCKER.md
  LOGGING.md
  README.md
  examples/buildkite-agent-metrics/README.md
  examples/compute/AUTOSCALING.md
  examples/compute/README.md
  examples/iam/README.md
  examples/networking/README.md
  modules/buildkite-agent-metrics/README.md
  modules/compute/README.md
  modules/iam/README.md
  modules/networking/README.md
  packer/README.md
  plugins/README.md
Due: :markdown: Markdown Lint

fix: markdown linting
  README.md
Due: :markdown: Markdown Lint

docs: clean up docs and point to official pages (#39)
  DOCKER.md
  LOGGING.md
  README.md
  examples/buildkite-agent-metrics/README.md
  examples/compute/AUTOSCALING.md
  examples/compute/README.md
  examples/iam/README.md
  examples/networking/README.md
  modules/buildkite-agent-metrics/README.md
  modules/compute/README.md
  modules/iam/README.md
  modules/networking/README.md
  packer/README.md
  plugins/README.md
Due: :markdown: Markdown Lint

Fix URL to Elastic CI Stack GCP docs page
  README.md
Due: :markdown: Markdown Lint

Fix markdownlint bare URL
  README.md
Due: :markdown: Markdown Lint

Fix URL to Elastic CI Stack GCP docs page (#40)
  README.md
Due: :markdown: Markdown Lint

fix: parsing of secret names/values is inconsistent
  modules/buildkite-agent-metrics/main.tf
  modules/buildkite-agent-metrics/variables.tf
  modules/compute/variables.tf
  templates/scripts/bootstrap-buildkite-agent
Due: none

fix: parsing of secret names/values is inconsistent (#42)
  modules/buildkite-agent-metrics/main.tf
  modules/buildkite-agent-metrics/variables.tf
  modules/compute/variables.tf
  templates/scripts/bootstrap-buildkite-agent
Due: none

chore: remove mention of updating changelog
  CONTRIBUTING.md
Due: :markdown: Markdown Lint

chore: remove mention of updating changelog (#43)
  CONTRIBUTING.md
Due: :markdown: Markdown Lint

fix: actually use fixed secrets path by using script template
  modules/compute/main.tf
  modules/compute/templates/startup.sh
  modules/compute/templates/startup.sh.tftpl
  templates/scripts/bootstrap-buildkite-agent
Due: none

chore: the correct team for code ownership is support
  .github/CODEOWNERS
Due: none

chore: the correct team for code ownership is support (#46)
  .github/CODEOWNERS
Due: none

fix: actually use fixed secrets path by using script template (#45)
  modules/compute/main.tf
  modules/compute/templates/startup.sh
  modules/compute/templates/startup.sh.tftpl
  templates/scripts/bootstrap-buildkite-agent
Due: none

fix: secret names cannot contain `/`
  packer/linux/conf/buildkite-agent/hooks/environment
Due: none

Create a validation process for the agent image build
  .buildkite/build-agent-image.yml
  .buildkite/scripts/build-image
  .buildkite/scripts/cleanup-test-resources
  .buildkite/scripts/delete-test-instance
  .buildkite/scripts/launch-test-instance
  .buildkite/scripts/publish-image
  .gitignore
  goss.yaml
  packer/linux/buildkite-vm-image.pkr.hcl
  packer/linux/conf/buildkite-agent/systemd/tmpdir.conf
  packer/linux/scripts/install-buildkite-agent
  packer/linux/scripts/install-buildkite-utils
  packer/linux/scripts/install-docker
  packer/linux/scripts/install-gcp-tools
  packer/linux/scripts/install-ops-agent
  packer/linux/scripts/install-utils
Due: :packer: Format Check, :packer: Validate

Create a validation process for the agent image build
  .buildkite/build-agent-image.yml
  .buildkite/scripts/build-image
  .buildkite/scripts/delete-packer-resources
  .buildkite/scripts/delete-test-instance
  .buildkite/scripts/launch-test-instance
  .buildkite/scripts/publish-image
  .gitignore
  docs/image-release-pipeline.md
  goss.yaml
  packer/build
  packer/linux/buildkite-vm-image.pkr.hcl
  packer/linux/conf/buildkite-agent/hooks/environment
  packer/linux/conf/buildkite-agent/systemd/tmpdir.conf
  packer/linux/scripts/cleanup
  packer/linux/scripts/install-buildkite-agent
  packer/linux/scripts/install-buildkite-utils
  packer/linux/scripts/install-docker
  packer/linux/scripts/install-gcp-tools
  packer/linux/scripts/install-ops-agent
  packer/linux/scripts/install-utils
  templates/config/buildkite-agent-env.template
  templates/scripts/bootstrap-buildkite-agent
  templates/systemd/lifecycled.service
Due: :packer: Format Check, :packer: Validate

Implement a shutdown script to gracefully handle instance shutdown.
  .buildkite/build-agent-image.yml
  .buildkite/scripts/launch-test-instance
  goss.yaml
  modules/compute/main.tf
  packer/linux/conf/buildkite-agent/scripts/stop-agent-gracefully
  packer/linux/conf/buildkite-agent/scripts/terminate-instance
  packer/linux/conf/ops-agent/config.yaml
  packer/linux/conf/rsyslog/buildkite-logging.conf
  packer/linux/scripts/install-gcp-tools
  templates/scripts/bootstrap-buildkite-agent
  templates/scripts/monitor-preemption
  templates/systemd/preemption-monitor.service
  tests/stop-agent-gracefully-test
Due: none

Don't need to check for the absence of these services.
  goss.yaml
Due: none

Assert agent service only signals the agent process
  goss.yaml
Due: none

Update the Machine Instance Group to use OPPORTUNISTIC update policy
  .buildkite/build-agent-image.yml
  .buildkite/pipeline.yml
  .buildkite/scripts/test_terraform
  README.md
  docs/instance-updates.md
  modules/compute/main.tf
  modules/compute/tests/update_policy.tftest.hcl
  modules/compute/variables.tf
  variables.tf
Due: :terraform: Format Check, :terraform: Validate Modules, :lint-roller: TFLint, :shield: TFSec Security Scan, :markdown: Markdown Lint

Fix pipeline permissions issue
  .buildkite/build-agent-image.yml
Due: none

Address feedback
  modules/compute/tests/update_policy.tftest.hcl
Due: none

Clarify docs about --max-surge and --max-unavailable.
  docs/instance-updates.md
  modules/compute/variables.tf
  variables.tf
Due: :terraform: Format Check, :terraform: Validate Modules, :lint-roller: TFLint, :shield: TFSec Security Scan

Use opportunistic MIG updates to avoid interrupting running jobs (#55)
  .buildkite/build-agent-image.yml
  .buildkite/pipeline.yml
  .buildkite/scripts/test_terraform
  README.md
  docs/instance-updates.md
  modules/compute/main.tf
  modules/compute/tests/update_policy.tftest.hcl
  modules/compute/variables.tf
  variables.tf
Due: :terraform: Format Check, :terraform: Validate Modules, :lint-roller: TFLint, :shield: TFSec Security Scan, :markdown: Markdown Lint

Enable idle instances to shut down and remove themselves from the MIG.
  .buildkite/build-agent-image.yml
  .buildkite/pipeline.yml
  packer/linux/conf/buildkite-agent/scripts/terminate-instance
  tests/terminate-instance-test
Due: none

Wrong pipeline.
  .buildkite/pipeline.yml
Due: none

Implement exact-instance removal from managed instance groups (#56)
  .buildkite/build-agent-image.yml
  packer/linux/conf/buildkite-agent/scripts/terminate-instance
  tests/terminate-instance-test
Due: none

Activate job-safe scale-in
  .buildkite/build-agent-image.yml
  README.md
  docs/instance-updates.md
  examples/compute/main.tf
  examples/compute/terraform.tfvars.example
  examples/compute/variables.tf
  goss.yaml
  main.tf
  modules/compute/main.tf
  modules/compute/templates/startup.sh.tftpl
  modules/compute/tests/update_policy.tftest.hcl
  modules/compute/variables.tf
  modules/iam/main.tf
  modules/iam/tests/agent_instance_management.tftest.hcl
  packer/linux/conf/buildkite-agent/scripts/stop-agent-gracefully
  packer/linux/conf/buildkite-agent/scripts/terminate-instance
  packer/linux/conf/buildkite-agent/scripts/terminate-instance-after-agent-exit
  packer/linux/conf/buildkite-agent/scripts/terminate-instance-after-bootstrap-failure
  packer/linux/conf/buildkite-agent/systemd/termination.conf
  packer/linux/scripts/install-buildkite-agent
  templates/config/startup-buildkite-agent.cfg.template
  templates/config/terraform-buildkite-agent-env.template
  templates/config/terraform-buildkite-agent.cfg.template
  templates/scripts/bootstrap-buildkite-agent
  tests/bootstrap-buildkite-agent-test
  tests/startup-buildkite-agent-test
  tests/stop-agent-gracefully-test
  tests/systemd-termination-semantics-test
  tests/terminate-instance-bootstrap-failure-test
  tests/terminate-instance-lifecycle-test
  variables.tf
Due: :terraform: Format Check, :terraform: Validate Modules, :lint-roller: TFLint, :shield: TFSec Security Scan, :markdown: Markdown Lint

Tune autoscaler for agent-controlled scale-in
  docs/instance-updates.md
  examples/compute/main.tf
  examples/compute/variables.tf
  modules/compute/main.tf
  modules/compute/tests/update_policy.tftest.hcl
  modules/compute/variables.tf
  modules/compute/versions.tf
  variables.tf
  versions.tf
Due: :terraform: Format Check, :terraform: Validate Modules, :lint-roller: TFLint, :shield: TFSec Security Scan

Keep static agent fleets from self-terminating
  docs/instance-updates.md
  examples/compute/variables.tf
  goss.yaml
  modules/compute/main.tf
  modules/compute/templates/startup.sh.tftpl
  modules/compute/tests/update_policy.tftest.hcl
  modules/compute/variables.tf
  packer/linux/conf/buildkite-agent/systemd/termination.conf
  tests/startup-buildkite-agent-test
  tests/systemd-termination-semantics-test
  variables.tf
Due: :terraform: Format Check, :terraform: Validate Modules, :lint-roller: TFLint, :shield: TFSec Security Scan

Path conditions:
  :terraform: Format Check: any of: *.tf
  :terraform: Validate Modules: any of: *.tf, *.tfvars
  :lint-roller: TFLint: any of: *.tf
  :shield: TFSec Security Scan: any of: *.tf
  :packer: Format Check: any of: packer/linux/buildkite-vm-image.pkr.hcl
  :packer: Validate: any of: packer/linux/buildkite-vm-image.pkr.hcl
  :terraform: Validate Examples: any of: examples/*
  :markdown: Markdown Lint: any of: *.md
