Repository buildkite/terraform-buildkite-elastic-ci-stack-for-gcp: changes, and which Buildkite steps are due for each by the changed paths.
All: :terraform: Format Check, :terraform: Validate Modules, :lint-roller: TFLint, :shield: TFSec Security Scan, :packer: Format Check, :packer: Validate, :terraform: Validate Examples, :markdown: Markdown Lint

Path conditions:
  :terraform: Format Check: any of: *.tf
  :terraform: Validate Modules: any of: *.tf, *.tfvars
  :lint-roller: TFLint: any of: *.tf
  :shield: TFSec Security Scan: any of: *.tf
  :packer: Format Check: any of: packer/linux/
  :packer: Validate: any of: packer/linux/
  :terraform: Validate Examples: any of: examples/*
  :markdown: Markdown Lint: any of: *.md

docs: add docs prior to public vis.
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
Due: :markdown: Markdown Lint

chore: add terraform stack as related
  README.md
Due: :markdown: Markdown Lint

chore: dont be too smart with the pipeline
  .buildkite/pipeline.yml
  .buildkite/scripts/format_check
  .buildkite/scripts/packer_format
  .buildkite/scripts/packer_validate
  .buildkite/scripts/tflint
  .buildkite/scripts/tfsec
  .buildkite/scripts/validate
  .buildkite/scripts/validate_examples
  examples/compute/main.tf
  examples/iam/main.tf
  examples/networking/main.tf
  modules/compute/main.tf
  modules/iam/variables.tf
  packer/linux/buildkite-vm-image.pkr.hcl
Due: none

fix: maybe needs quotes for glob
  .buildkite/pipeline.yml
Due: none

chore: use ghcr image for tflint
  .buildkite/pipeline.yml
Due: none

fix: using pipe in commands causes new line issues with script call
  .buildkite/pipeline.yml
Due: none

fix: markdown linter hanging
  .buildkite/pipeline.yml
  compose.yml
Due: none

fix: markdown command for image
  .buildkite/pipeline.yml
Due: none

fix: markdown is so opinionated
  .markdownlint.json
  CONTRIBUTING.md
  README.md
Due: :markdown: Markdown Lint

chore: pin versions for future renovate addition
  .buildkite/pipeline.yml
  packer/linux/buildkite-vm-image.pkr.hcl
Due: none

Why do we need a v, why is that even important in 2025
  .buildkite/pipeline.yml
  .buildkite/scripts/format_packer
  .buildkite/scripts/validate_packer
Due: none

chore: init packer before validation
  .buildkite/scripts/validate_packer
Due: none

chore: remove soft_fails
  .buildkite/pipeline.yml
Due: none

fix: set variable for packer init
  .buildkite/scripts/validate_packer
Due: none

fix: cd in to dir so config isn't relative to current location
  .buildkite/scripts/format_packer
  .buildkite/scripts/validate_packer
Due: none

Adding cloud function to drive autoscaling
  examples/buildkite-agent-metrics/.gitignore
  examples/buildkite-agent-metrics/README.md
  examples/buildkite-agent-metrics/main.tf
  examples/buildkite-agent-metrics/outputs.tf
  examples/buildkite-agent-metrics/terraform.tfvars.example
  examples/buildkite-agent-metrics/variables.tf
  modules/buildkite-agent-metrics/README.md
  modules/buildkite-agent-metrics/main.tf
  modules/buildkite-agent-metrics/outputs.tf
  modules/buildkite-agent-metrics/variables.tf
  modules/buildkite-agent-metrics/versions.tf
Due: none

Don't need no special .gitignore file
  examples/buildkite-agent-metrics/.gitignore
Due: none

Cleanup around support for GCP secrets.
  examples/buildkite-agent-metrics/README.md
  examples/buildkite-agent-metrics/main.tf
  examples/buildkite-agent-metrics/terraform.tfvars.example
  examples/buildkite-agent-metrics/variables.tf
  modules/buildkite-agent-metrics/README.md
  modules/buildkite-agent-metrics/main.tf
  modules/buildkite-agent-metrics/variables.tf
Due: none

clean up the markdown
  LOGGING.md
  packer/linux/conf/ops-agent/config.yaml
Due: :markdown: Markdown Lint

Add validation on secret name - will fail if you pass full path to secret since only the name is required
  examples/buildkite-agent-metrics/variables.tf
  modules/buildkite-agent-metrics/variables.tf
Due: none

add root files for easy spin up after clone
  main.tf
  outputs.tf
  variables.tf
  versions.tf
Due: :terraform: Format Check, :terraform: Validate Modules, :lint-roller: TFLint, :shield: TFSec Security Scan

dynamically set bucket location
  modules/buildkite-agent-metrics/README.md
  modules/buildkite-agent-metrics/main.tf
  modules/buildkite-agent-metrics/variables.tf
Due: none

support autoscaling via queue metrics
  modules/compute/main.tf
  modules/compute/variables.tf
Due: none

add project id where needed
  modules/networking/main.tf
  modules/networking/variables.tf
Due: none

add additional permissions for published function
  modules/iam/main.tf
Due: none

remove changelog, will be in releases
  CHANGELOG.md
Due: :markdown: Markdown Lint

expand example for autoscaling
  .gitignore
  examples/compute/main.tf
  examples/compute/variables.tf
  examples/networking/main.tf
Due: none

add autoscaling detail to readme
  README.md
Due: :markdown: Markdown Lint

reduce readme to only have important info; rest will be in docs
  README.md
Due: :markdown: Markdown Lint

allow git checkout via ssh provate key
  .gitignore
  packer/linux/conf/buildkite-agent/hooks/environment
Due: none

hide my trade secrets
  .gitignore
Due: none

fix ci issues
  .buildkite/pipeline.yml
  examples/buildkite-agent-metrics/main.tf
  examples/buildkite-agent-metrics/variables.tf
  modules/buildkite-agent-metrics/main.tf
Due: none

surround with blank lines
  DOCKER.md
Due: :markdown: Markdown Lint

final issue with md linting
  README.md
Due: :markdown: Markdown Lint

clean up some legacy steps from local dev
  packer/README.md
Due: none

fix linting as not in main yet
  DOCKER.md
  LOGGING.md
Due: :markdown: Markdown Lint

chore: add renovate for version tracking
  renovate.json
Due: none

feat: why not add codeowners too
  .github/CODEOWNERS
Due: none

chore: add permission for bucket from alt region
  modules/buildkite-agent-metrics/main.tf
Due: none

fix: correct the ops agent check
  packer/linux/scripts/install-ops-agent
Due: none
